@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  @include flex();
  gap: 6px;
}

.todo_label {
  display: flex;
  justify-content: flex-start;
  padding: 6px 32px;
  gap: 6px;
  min-width: 300px;
}

.todo_button {
  text-align: center;
  height: 24px;
  width: 48px;

  padding: 0;
}

.todo_content {
  height: 21px;
}
